{{define "base"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
         <link rel="stylesheet" type="text/css" href="/public/css/main.css">
         <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.css">
         <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css">
     
     </head>
     <body>

        {{template "body" .}}
     </body>
     <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>      
     <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>      
     <script type="text/javascript" src="/public/js/main.js"></script>     
</html>
{{end}}
